.idea
mysql-master-slave/master/data/*
mysql-master-slave/slave/data/*
redis-cluster/7001/data/*
redis-cluster/7002/data/*
redis-cluster/7003/data/*
redis-cluster/7004/data/*
redis-cluster/7005/data/*
redis-cluster/7006/data/*
redis-cluster/7007/data/*
redis-cluster/7008/data/*
